<div class="templ3-class">
    <header>
        <nav id="header card-panel firstSection">
            <div class="nav-wrapper yellow lighten-4">
                {{!-- Here goes the slogan, this would be the default --}}
                <a href="#" class="brand-logo center">HONEST SOUTHERN FOOD</a>
                {{!-- <img class="responsive-img" src="{{userInfo.logo}}" alt="" id="logoImg"> --}}

            </div>
        </nav>
    </header>

    <div class="slider" id="secondSection">
        <ul class="slides">
            {{!-- Business pictures go here, populated with script below --}}
        </ul>
    </div>

    <div id="thirdSection">
        <nav>
            <div class="nav-wrapper yellow lighten-4">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#fourthSection" class="waves-effect btn">Services</a></li>
                    <li><a href="#fifthSection" class="waves-effect btn">Contact Us</a></li>
                </ul>
        </nav>
    </div>

    <div id="fourthSection">
        <img class="logo2Img" src="{{userInfo.logo}}" alt="">
        <h4>Our Menu</h4>
        <hr />
        <div class="row">
            <div class="col s6 m5 offset-m1" id="pictureMenu">
                {{!-- One user picture goes here, populated with pictureMenu() --}}
            </div>
            <div class="col s6 m6">
                <br>
                <img class="responsive-img" src="{{userInfo.services}}" width="600" alt="">
            </div>
        </div>
    </div>


    <div id="fifthSection">
        <img class="logo2Img" src="{{userInfo.logo}}" alt="">
        <h4>Contact Us</h4>
        <hr />
        <div class="row">
            <div class="col s12 m4">
                <div class="card-image" id="pictureCard">

                </div>
            </div>
            <div class="col s12 m6 offset-m1">
                <div class="card-panel">
                    <div class="card-content" id="storeHours">
                        <span class="card-title">Store Hours</span>
                        <div id="sched-content">
                            {{userInfo.schedule}}
                            {{!-- Store hours goes here, filled with script below --}}
                        </div>
                    </div>
                    <div class="card-content" id="map-display">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer class="page-footer" id="sixthSection">
        <div class="container">
            <div class="row">
                <div class="col l6 s12" id="phoneNumber">
                    {{!-- <h5 class="">Phone</h5> --}}
                </div>
                <div class="col l6 s12">
                    <h5 class="">Drop us a line at {{userInfo.email}}</h5>
                </div>
            </div>
        </div>
        <hr />

        <div class="footer-copyright yellow lighten-4">
            <div class="container">
                © 2019 Copyright
            </div>
        </div>
    </footer>

    {{!-- Div for buttons to show more templates --}}
    <div class="center no-print" id="seventhSection">
        <br>
        <h5>Click the buttons to see your info on different templates, or save your work</h5>
        <br>
        <a class="waves-effect waves-light btn light-green accent-4" id="templ1-look">Template 1<i
                class="far fa-eye"></i></a>
        <a class="waves-effect waves-light btn light-green accent-4" id="templ2-look">Template 2<i
                class="far fa-eye"></i></a>
        <a class="waves-effect waves-light btn light-green accent-4" id="save-pdf">Save as PDF<i
                class="far fa-save"></i></a>
        <a class="waves-effect waves-light btn light-green accent-4" id="save-code">Save Code<i
                class="far fa-save"></i></a>
        <br>
    </div>

</div>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEksOUoC96zDNpnC_IkaTfzxjokwUCnac&callback=initMap"
    type="text/javascript">  </script>
<script>

    $(document).ready(function () {
        fillSlider();
        $('.slider').slider();
        pictureMenu();
        pictureCard();
        //fillSchedule();
        fillPhone();
        var idToLink = "{{userInfo.id}}";
        console.log (idToLink);
        $("#templ1-look").attr("href","/template1/"+idToLink);
        $("#templ2-look").attr("href","/template2/"+idToLink);
        $("#save-pdf").on("click", function() {
            window.print();
        });
        
    });

    function initMap() {

        var coordString = "{{userInfo.coordinates}}";
        var index = coordString.indexOf(",");
        var latitude = parseFloat(coordString.substr(0, index));
        var longitude = parseFloat(coordString.substr(index + 1));
        var coordi = { lat: latitude, lng: longitude }
        var map = new google.maps.Map(
            document.getElementById('map-display'), { zoom: 16, center: coordi });
        var marker = new google.maps.Marker({ position: coordi, map: map });
    };

    function fillSlider() {
        var pictString = "{{userInfo.pictures}}";
        var picArray = pictString.split(",");
        console.log(picArray);
        for (var i = 0; i < picArray.length; i++) {
            var listVar = $("<li>");
            var imgVar = $("<img>");
            imgVar.attr("src", picArray[i]);
            listVar.append(imgVar);
            $(".slides").append(listVar);
        }
    };

    function pictureMenu() {
        var pictString = "{{userInfo.pictures}}";
        var picArray = pictString.split(",");
        console.log(picArray);
        var imgVar = $("<img>");
        imgVar.attr("src", picArray[1]);
        $("#pictureMenu").append(imgVar);
    }

    function pictureCard() {
        var pictString = "{{userInfo.pictures}}";
        var picArray = pictString.split(",");
        console.log(picArray);
        var imgVar = $("<img>");
        imgVar.attr("src", picArray[2]);
        $("#pictureCard").append(imgVar);
    }
    function fillPhone() {
        var phone = formatPhoneNumber("{{userInfo.phone}}");
        console.log(phone);
        var newH = $('<h5>').text('Call us at ' + phone);
        $('#phoneNumber').append(newH);
    }

    function formatPhoneNumber(str) {
        var cleaned = ('' + str).replace(/\D/g, '')
        var match = cleaned.match(/^(1|)?(\d{3})(\d{3})(\d{4})$/)
        if (match) {
            var intlCode = (match[1] ? '+1 ' : '')
            return [intlCode, '(', match[2], ') ', match[3], '-', match[4]].join('')
        }
        return null
    }
        /*function fillSchedule() {
var scheString = "{{userInfo.schedule}}";
var scheArr = scheString.split(",");
console.log(scheArr);
for (var i = 0; i < scheArr.length; i++) {
var pVar = $("<p>");
pVar.text(scheArr[i]);
$("#sched-content").append(pVar);
}
}*/

</script>