<div class="templ2-class">

  <div id="firstSection">
    <header>
      <!-- Navbar dropdwn structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li>{{userInfo.email}}</li>
        <li class="divider"></li>
        <!-- Social Media Icons  -->
        <div id="socialIcons">
          <a href="" target="">
            <span style="font-size: 4em; color: #cddc39;">
              <i class="fab fa-facebook-square"></i>
            </span>
          </a>
          <a href="" target="">
            <span style="font-size: 4em; color: #cddc39;">
              <i class="fab fa-instagram"></i>
            </span>
          </a>
          <a href="" target="">
            <span style="font-size: 4em; color: #cddc39;">
              <i class="fab fa-twitter-square"></i>
            </span>
          </a>
          <a href="" target="">
            <span style="font-size: 4em; color: #cddc39;">
              <i class="fab fa-yelp"></i>
            </span>
          </a>
        </div>
      </ul>
      <ul id="dropdown2" class="dropdown-content">
        {{!-- <div class="card">
          <div class="card-image"> --}}
            <div id="map-display">

            </div>
            {{!-- <span class="card-title black">Location</span> --}}
            <li>{{userInfo.address}}</li>
          {{!-- </div>
        </div> --}}
      </ul>

      <nav id="header">
        <div class="nav-wrapper grey">
          <img class="responsive-img" src="{{userInfo.logo}}" alt="" id="logoImg">

          <ul class="right hide-on-med-and-down">
            <!-- Business address phone and email -->
            <li><a class="dropdown-trigger grey-text lime" href="#!" data-target="dropdown1">Contact Us</a></li>
            <li><a class="dropdown-trigger grey-text lime" href="#!" data-target="dropdown2">Location</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </div>

  <div id="secondSection" class="center">
    <h3>{{userInfo.userName}}</h3>

  </div>

  <div class="grey" id="thirdSection">
    <div class="row" id="pictureRow">

    </div>
    <div class="row center" id="textRow">
      <div class="col s3 ">
        <div class="card lime darken-1">
          <div class="card-content">
            {{!-- Here goes the slogan, this would be the default --}}
            <p class="card-title">HONEST SOUTHERN FOOD</p>
          </div>
        </div>
      </div>
      <div class="col s3 offset-s1">
        <div class="card lime darken-1">
          <div class="card-content">
            <p class="card-title">Menu</p>
            <img class="responsive-img" src="{{userInfo.services}}" alt="">
          </div>
        </div>
      </div>
      <div class="col s3 offset-s1">
        <div class="card lime darken-1">
          <div class="card-content">
            <p class="card-title">Store Hours</p>
            <div id="sched-content">
              {{!-- Store hours goes here, filled with script below --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{!-- Div for buttons to show more templates --}}
  <div class="center" id="fourthSection">
      <br>
      <h5>Click the buttons to see your info on different templates, or save your work</h5>
      <br>
      <a class="waves-effect waves-light btn light-green accent-4" id="templ1-look">Template 1<i
              class="far fa-eye"></i></a>
      <a class="waves-effect waves-light btn light-green accent-4" id="templ2-look">Template 2<i
              class="far fa-eye"></i></a>
      <a class="waves-effect waves-light btn light-green accent-4" id="save-pdf">Save as PDF<i
              class="far fa-save"></i></a>
      <a class="waves-effect waves-light btn light-green accent-4" id="save-code">Save Code<i
              class="far fa-save"></i></a>
      <br>
  </div>

</div>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEksOUoC96zDNpnC_IkaTfzxjokwUCnac&callback=initMap"
  type="text/javascript">  </script>
<script>
  $(document).ready(function () {
    $(".dropdown-trigger").dropdown();
    fillSlider();
    fillSchedule();
    fillPhone();

  });
  function initMap() {
    var coordString = "{{userInfo.coordinates}}";
    var index = coordString.indexOf(",");
    var latitude = parseFloat(coordString.substr(0, index));
    var longitude = parseFloat(coordString.substr(index + 1));
    var coordi = { lat: latitude, lng: longitude }
    console.log(latitude + " long " + longitude);
    // The map, centered at Uluru
    var map = new google.maps.Map(
      document.getElementById('map-display'), { zoom: 16, center: coordi });
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({ position: coordi, map: map });
  }
  function fillSlider() {
    var pictString = "{{userInfo.pictures}}";
    var picArray = pictString.split(",");
    console.log(picArray);
    for (var i = 0; i < picArray.length; i++) {
      var divVar = $("<div class='col s4 template2-img'>");
      var imgVar = $("<img class ='materialboxed' width='400' height='400'>");
      imgVar.attr("src", picArray[i]);
      divVar.append(imgVar);
      $("#pictureRow").append(divVar);
    }
  }

  function fillSchedule() {
    var scheString = "{{userInfo.schedule}}";
    var scheArr = scheString.split(",");
    console.log(scheArr);
    for (var i = 0; i < scheArr.length; i++) {
      var pVar = $("<p>");
      pVar.text(scheArr[i]);
      $("#sched-content").append(pVar);
    }
  }

  function fillPhone() {
    var phone = formatPhoneNumber("{{userInfo.phone}}");
    console.log(phone);
    var newUL = $('<li>').text(phone);
    $('#dropdown1').prepend(newUL);
  }

  function formatPhoneNumber(str) {
    var cleaned = ('' + str).replace(/\D/g, '')
    var match = cleaned.match(/^(1|)?(\d{3})(\d{3})(\d{4})$/)
    if (match) {
      var intlCode = (match[1] ? '+1 ' : '')
      return [intlCode, '(', match[2], ') ', match[3], '-', match[4]].join('')
    }
    return null
  }
</script>