<div class="templ1-class">
  <header>
    <nav id="header">
      <div class="nav-wrapper black">
        <img class="responsive-img" src="{{userInfo.logo}}" alt="" id="logoImg">

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- Business address phone and email -->
          <li><a href="">{{userInfo.address}}</a></li>
          <li><a href="">{{userInfo.email}}</a></li>
        </ul>
    </nav>
  </header>

  <main>

    <div class="light-blue lighten-5" id="firstSection">
      <div class="container">
        <div class="row">
          <div class="col s10">
            <h2>{{userInfo.userName}}</h2>
            {{!-- Here goes the slogan, this would be the default --}}
            <p>HONEST SOUTHERN FOOD</p>
          </div>
          <div class="col s1 offset-s1">
            <!-- Social Media Icons  -->
            <span style="font-size: 4em; color: #ffeb3b;">
              <i class="fab fa-facebook-square"></i>
            </span>
            <br>
            <span style="font-size: 4em; color: #ffeb3b;">
              <i class="fab fa-instagram"></i>
            </span>
            <br>
            <span style="font-size: 4em; color: #ffeb3b;">
              <i class="fab fa-twitter-square"></i>
            </span>
            <br>
            <span style="font-size: 4em; color: #ffeb3b;">
              <i class="fab fa-yelp"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="secondSection">
      <div class="carousel carousel-slider" id="template-slider">
        {{!-- Business pictures go here, populated with script below --}}
      </div>
    </div>

    <div class="light-blue lighten-5" id="thirdSection">
      <div class="container">
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Menu</h4>
           
          </li>
          <img class="responsive-img" src="{{userInfo.services}}" width="600" alt="">

          {{!-- {{#each menu}}
          <li class="collection-item">
            <div>{{this.item}}<a class="secondary-content">${{this.price}}</a></div>
          </li>
          {{/each}}  --}}
        </ul>
      </div>
    </div>


    <div class="container" id="fourthSection">
      <div class="row">

        <div class="col s6 m6">
            <div id="map-display">

            </div>
        </div>

        <div class="col s6 m6" id="scheduleDiv">
          <div class="card medium black darken-1">
            <div class="card-content white-text center">
              <span class="card-title">Hours of Operation</span>
              <hr />
              <div id="sched-content">
                {{!-- Store hours goes here, filled with script below --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </main>

  <footer class="page-footer black">
    <div class="footer-copyright">
      <div class="container center">
        © 2019 Copyright
      </div>
    </div>
  </footer>

</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEksOUoC96zDNpnC_IkaTfzxjokwUCnac&callback=initMap"
  type="text/javascript">  </script>
<script>
  $(document).ready(function () {

    fillSlider();
    $('.carousel.carousel-slider').carousel({
    });
    autoplay();
    fillSchedule();
    fillPhone();

  });
  function initMap() {

    var coordString = "{{userInfo.coordinates}}";
    var index = coordString.indexOf(",");
    var latitude = parseFloat(coordString.substr(0, index));
    var longitude = parseFloat(coordString.substr(index + 1));
    var coordi = { lat: latitude, lng: longitude }
    var map = new google.maps.Map(
      document.getElementById('map-display'), { zoom: 16, center: coordi });
    var marker = new google.maps.Marker({ position: coordi, map: map });
  };

  function fillSlider() {
    var pictString = "{{userInfo.pictures}}";
    var picArray = pictString.split(",");
    console.log(picArray);
    for (var i = 0; i < picArray.length; i++) {
      var aVar = $("<a class='carousel-item'>");
      aVar.attr("href", "#" + i);
      var imgVar = $("<img class ='carousel-img'>");
      imgVar.attr("src", picArray[i]);
      aVar.append(imgVar);
      $("#template-slider").append(aVar);
    }
  }

  function autoplay() {
    $('.carousel').carousel('next');
    setTimeout(autoplay, 3000);
  }

  function fillSchedule() {
    var scheString = "{{userInfo.schedule}}";
    var scheArr = scheString.split(",");
    console.log(scheArr);
    for (var i = 0; i < scheArr.length; i++) {
      var pVar = $("<p>");
      pVar.text(scheArr[i]);
      $("#sched-content").append(pVar);
    }
  }

  function fillPhone() {
    var phone = formatPhoneNumber("{{userInfo.phone}}");
    console.log(phone);
    var newUL = $('<li><a href="">').text(phone);
    $('#nav-mobile').prepend(newUL);
  }

  function formatPhoneNumber(str) {
    var cleaned = ('' + str).replace(/\D/g, '')
    var match = cleaned.match(/^(1|)?(\d{3})(\d{3})(\d{4})$/)
    if (match) {
      var intlCode = (match[1] ? '+1 ' : '')
      return [intlCode, '(', match[2], ') ', match[3], '-', match[4]].join('')
    }
    return null
  }

</script>